{% extends 'blog/base.html'%}
{% load static %}

{%block content%}
<link rel="stylesheet" href="{% static 'css/view_profile.css'%}">
<div class="user-profile">
    <div class="user-details">
        <div class="user-image">
            <img src="{{user.profile.image.url}}" alt="">
        </div>
        <div class="user-name">
            <h2>{{user.username}}</h2>
            <h4>{{user.email}}</h4> 
        </div>
    </div>
    <div class="user-bio">
        <h1 class="user-bio-header">Personal Info:</h1>
        {% if user.profile.bio %}
        <h2>{{user.profile.bio|safe}}</h2>
        {%endif%}

        {% if request.user.username == user.username and not user.profile.bio %}
        <a href="{%url 'profile'%}"><h2 style="color: darkgrey; margin-left: 20%; font-size: 30px;">Say something about yourself</h2></a>
        {%endif%}
    </div>
    <div class="user-post-container">
        <h1>{{user.username}}'s stories:</h1>
        {% for user_post in user_post%}
        <div class="user-post">
            <div class="user-post-header">
                <img src="{{user_post.image.url}}" alt="">
                <h2>{{user_post.title}}</h2>
                
            </div>
            <p>{{user_post.post|truncatewords:70|safe}}</p>
            <div class="post-category">
            <form action=" /category_search/" method="GET">
            {% for category in user_post.category.all%}
                <button class="category-button" type="submit" name="search-tag" value="{{category.id}}">
                    {{category}}
                </button>
            {%endfor%} 
        </form>
               
            </div>
        </div>    
        {% endfor%}
        {% if request.user.username == user.username %}
        <a href="{% url 'profile'%}"><button style="background: rgb(191, 118, 23); border-radius: 20px; color:whitesmoke; padding: 15px;">Edit Profile</button></a>
        {% endif%}
    </div>
</div>

{% endblock%}